* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h4 {
  font-size: 20px;
}

.jumbotron {
margin: 0;
padding: 15px;
background-image: linear-gradient(to right top, #215f00, #5c7e37, #8d9e69, #bbc09f, #e4e4d9);
color: black; 
}