* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h4 {
  font-size: 30px;
}

.jumbotron {
margin: 0;
padding: 15px;
background-image: linear-gradient(to right, #a7226e, #d33460, #f2584c, #ff8332, #ffb211);
color: black;
}

.navbar {
  background-color: #d33460; 
}

.navbar a {
  font-weight: bold;
  font-size: 16px;
}

.navbar-nav {
  margin-left: auto;
}