root {
  /* scrollbar FireFox */
  scrollbar-color: #d33460 white !important;
  scrollbar-width: auto !important;
}

html {
  scroll-padding-top: 60px;
}

.container {
  max-width: 1140px;
}

h1, h3, h4 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
h1{
  font-size: 50px;
}
h2 {
  font-size: 30px;
}

.section-title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

hr.divider {
  opacity: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  height: 7px;
  background: linear-gradient(to right, #a7226e, #d33460, #f2584c, #ff8332, #ffb211);
}

/* Jumbotron */
.jumbotron {
  margin: 0;
  padding: 15px;
  background-image: linear-gradient(to right, #a7226e, #d33460, #f2584c, #ff8332, #ffb211);
  color: black;
}

/* NavBar */
.navbar {
  background-color: #d33460;
}
.navbar a {
  font-weight: bold;
  font-size: 16px;
}
.navbar-nav {
  margin-left: auto;
}

/* About */
img.banner {
  border: 2px solid black;
}

/* Available Pandas */
.card-body, .card-img-top {
  border: 1px solid black;
}

/* Adopt */
.btn-about-submit:active {
  transform: scale(0.95);
}

form {
  border: 2px solid black;
  background-image: linear-gradient(to right, #f8aac0, #ffb4b4, #ffc2aa, #ffd2a5, #ffe3a8);
}

/* FAQ */
.accordion-button:not(.collapsed) {
  color: black;
  background-image: linear-gradient(to right, #ff648e, #ff7577, #ff8c60, #ffa74e, #ffc244);
  box-shadow: none;
}
.accordion-button:active {
  outline: none;
}

.accordion-button:not(.collapsed)::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");transform:rotate(-180deg)}

/* Footer */
.site-footer {
  background-image: linear-gradient(to bottom, #f2584c, #ff8332, #ffb211);
  padding: 15px;
  position: absolute;
  width: 100%;
}

.contact {
  text-decoration: none;
  color: black;
  padding: 0;
}
.contact:hover {
  color: #a7226e;
}

.btn-youtube {
  background-color: rgb(219, 4, 4);
}

/* scrollbar Chrome & Safari */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d33460;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/*Fix My Divs!!! 
div,img{
    border: dashed 1px gray;
    padding:1px;
}
.container {
    border: solid 1px green;
    padding:1px;
}
.col, .col-md-2, .col-md-3, .col-md-4{
    border: solid 1px rgb(4, 0, 255);
    padding:1px;
}
.row {
    border: solid 1px red;
    padding:1px;
} */
